@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Cuastom Straikethrough for the disable button*/
  .strikethrough {
    position: relative;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 25%;
    top: 50%;
    right: 25%;
    border-top: 2px solid #a6a6a6;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
html,
body,
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 14px;
}

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 24px;
  height: 6px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: #a6a6a6;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: black;
  width: 35px;
}
